<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ElevatorDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ElevatorDemo.Properties.Settings>
            <setting name="FRMenuFichier" serializeAs="String">
                <value>Fichier</value>
            </setting>
            <setting name="USMenuFile" serializeAs="String">
                <value>File</value>
            </setting>
            <setting name="FRMenuQuitter" serializeAs="String">
                <value>Quitter</value>
            </setting>
            <setting name="USMenuQuit" serializeAs="String">
                <value>Quit</value>
            </setting>
            <setting name="FRMenuLangage" serializeAs="String">
                <value>Langage</value>
            </setting>
            <setting name="USMenuLanguage" serializeAs="String">
                <value>Language</value>
            </setting>
            <setting name="FRMenuFrancais" serializeAs="String">
                <value>Français</value>
            </setting>
            <setting name="USMenuFrench" serializeAs="String">
                <value>French</value>
            </setting>
            <setting name="FRMenuAnglais" serializeAs="String">
                <value>Anglais</value>
            </setting>
            <setting name="USMenuEnglish" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="FRMenuOutils" serializeAs="String">
                <value>Outils</value>
            </setting>
            <setting name="USMenuTools" serializeAs="String">
                <value>Tools</value>
            </setting>
            <setting name="FRMenuOptions" serializeAs="String">
                <value>Options</value>
            </setting>
            <setting name="USMenuOptions" serializeAs="String">
                <value>Options</value>
            </setting>
            <setting name="FRMenuAide" serializeAs="String">
                <value>Aide</value>
            </setting>
            <setting name="USMenuHelp" serializeAs="String">
                <value>Help</value>
            </setting>
            <setting name="FRMenuAPropos" serializeAs="String">
                <value>A propos de ...</value>
            </setting>
            <setting name="USMenuAbout" serializeAs="String">
                <value>About ...</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
        </ElevatorDemo.Properties.Settings>
    </userSettings>
</configuration>
